<!DOCTYPE html>
<html>
<head>
    <title>Update Profile</title>
</head>
<body>
    <h1>Update Profile</h1>
    <form method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" value="{{ user["name"] }}">
        <br><br>
        <label for="designation">Designation:</label>
        <input type="text" id="designation" name="designation" value="{{ user["designation"] }}">
        <br><br>
        <label for="name">Email:</label>
        <input type="text" id="email" name="email" value="{{ user["email"] }}">
        <br><br>
        <label for="name">Shared key:</label>
        <input type="text" id="shared_key" name="shared_key" value="{{ user["shared_key"] }}">
        <br><br>
        <label for="name">Student/Faculty:</label>
        <input type="type" id="" name="type" value="{{ user["registering_as"] }}">
        <br><br>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>